/*The styling in this page is inheritated by all sub pages*/
/*NOTE: Main css is inheritated by card elements*/
/*Bootstrap styling is used, remember to use !important to override bootstrap styling*/

.main-text {
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: #131246;
  padding: 2rem;
  color: white;
}

/*CARD STYLING*/
.card-group {
  height: 22rem;
  margin: 4rem !important;
  padding-bottom: 30rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 10rem !important;
  border-radius: 5px;
  margin-right: 2rem;
  float: left;
  margin-bottom: 5rem;
 
}

.card-body {
  background-color: #131246;
  color: white;
  text-align: center;
}

.card-img-top {
  object-fit: cover;  
}

img {
  height: 22rem;
}

.link{
  text-align: center;
}

/*BUTTON STYLING*/
.btn-primary{
  background-color: #861a2e !important;
  text-align: center !important;
  transition: .3s !important;
  box-shadow:#861a2e !important;
}

.btn-primary:hover{
  animation: pulse 1s infinite .3s !important;
  transition: .3s !important;
  background-color: red !important;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


