body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*Nav bar */
.nav-bar {
  display: block;
  height: 4rem;
  background-color: #131246;
}

.nav-bar ul {
  list-style: none;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}

#home {
  float: left;
  margin-top: 1em;
}

#other {
  float: right;
  margin-right: 2rem;
  margin-top: 1em;
}

/* end of Nav bar */

/*Top image*/
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

.top-img img {
  height: 50rem;
  width: 100%;
  object-fit: cover;
}

/*end of top image */

/*Start of styling*/
/*Each block inherits styling depending on side*/
/*Left means text styling is inherited*/
/*Right means right block styling is inherited*/

.left {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.right {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
#left-text {
  width: 50%;
  height: 50rem;
  float: left;
  background-color: #131246;
}

#left-image img {
  height: 50rem;
  width: 50%;
  object-fit: cover;
}

#large-text {
  margin-left: 3rem;
  font-size: 10rem;
  color: white;
}

#small-text {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 3rem;
  color: white;
  font-size: 2rem;
}
/*Button styling, this is inherited*/
.button {
  margin-top: 5rem;
  margin-left: 5rem;
}

.btn-1 {
  padding-top: 5rem;
  margin-left: 5rem;
  text-align: center;
}

.btn {
  color: white;
  background-color: #861a2e;
  padding: 14px 25px;
  text-decoration: none;
}

/*End of Styling for each block*/

/*Styling for the right image*/
#right-image img {
  height: 50rem;
  width: 50%;
  object-fit: cover;
  float: left;
}

/*End of right image*/

.footer {
  color: black;
  text-align: center;
  margin-top: 63rem;
}
